#!/bin/bash -eu

d=${1%/}

if ! [ -d "${d}" ] ; then
	d=${d%/*}
fi

if ! [ -d "${d}" ] ; then
	echo "No such directory: ${d}" >&2
	exit 1
fi

branch=kconfig_${d//\//_}
git checkout -b "${branch}" kconfig-base
