#!/bin/bash -eu

function pr_orange() { echo -e "\033[93m${*}\033[0m" ; }

here=$(dirname "${0}")

path=${1}

readarray -t dirs < <(find "${path}" -name 'Kconfig*' -print0 |
						  xargs -0 -i'{}' dirname {} | sort -u)

for d in "${dirs[@]}" ; do
	branch=kconfig_${d//\//_}
	if git rev-parse --quiet --verify "${branch}" >/dev/null ; then
		continue
	fi
	pr_orange "DIR: ${d}"
	"${here}"/../kconfig-check -n -s hqwx "${d}"/Kconfig* || true
done
