#!/bin/bash -eu

function pr_orange() { echo -e "\033[93m${*}\033[0m" ; }

while IFS= read -r branch ; do
	branch=${branch##* }
	echo
	pr_orange "BRANCH: ${branch}"
	git --no-pager log --color=always --no-decorate "${@}" \
		kconfig-base.."${branch}"
done < <(git branch | grep -E '\*? +kconfig_')
